html, body { 
    height: 100%; 
    overflow-y: auto !important;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.content-wrapper {
    .content{
        padding: 0 0.5rem;
    }
}

.fc-event{
    &-main {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between;
    } 

    &-content {
        margin-left: 0.3rem;
    }

    &-delete {
        margin-right: 0.3rem;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.tag {
    &-danger{
        color:red;
    }

    &-success{
        color: rgb(11, 161, 11);
    }

    &-warning{
        color: rgba(186, 186, 37, 0.723);
    }
}

td {
    vertical-align: middle !important;
}

a {
    cursor: pointer;
}

.main-header, .main-sidebar {
    z-index: 999 !important;
}

.cdk-global-overlay-wrapper {
    overflow: auto;
    pointer-events: auto;
}

.sticky-top {
    z-index: 999 !important; 
}