<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Đăng ký ngày nghỉ</h3>
    </div>
    <form [formGroup]="createEventForm" (ngSubmit)="formSubmit$.next()">
        <div class="card-body">
            <div class="form-group">
                <label for="eventName">Lý do nghỉ</label>
                <input type="name" class="form-control" id="eventName" formControlName="eventName">
            </div>

            <div class="form-group">
                <label>Ngày bắt đầu nghỉ:</label>
                <div class="input-group date">
                    <input type="text" class="form-control datetimepicker-input" [matDatepicker]="pickerStartTime"
                        formControlName="startTime"/>
                    <div class="input-group-append">
                        <div class="input-group-text" (click)="pickerStartTime.open()"><i class="fa fa-calendar"></i></div>
                        <mat-datepicker #pickerStartTime></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Ngày kết thúc:</label>
                <div class="input-group date">
                    <input type="text" class="form-control datetimepicker-input" [matDatepicker]="pickerEndTime"
                        formControlName="endTime"/>
                    <div class="input-group-append">
                        <div class="input-group-text" (click)="pickerEndTime.open()"><i class="fa fa-calendar"></i></div>
                        <mat-datepicker #pickerEndTime></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Lưu ngày nghỉ</button>
        </div>
    </form>
</div>