<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lịch làm việc nhân viên</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="">Staff Management</a></li>
                    <li class="breadcrumb-item active">Lịch</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Ghi chú</h4>
                        </div>
                        <div class="card-body">
                            <!-- the events -->
                            <div id="external-events">
                                <div class="external-event bg-success" data-color="#28a745">Đi làm</div>
                                <div class="external-event bg-warning" data-color="#ffc107">Nghỉ phép</div>
                                <div class="external-event bg-danger" data-color="#dc3545">Nghỉ không lương</div>
                                <div class="external-event bg-info" data-color="#dc3545">Sự kiện khác</div>
                                <small class="text-muted">(*) Chưa được quản lý xác nhận</small>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <h4 class="card-subtitle text-muted">Thêm vào lịch</h4>
                            <div class="row ">
                                <button class="col-5 btn btn-warning" (click)="openVacationDialog()">Ngày nghỉ</button>
                                <button class="col-5 btn btn-primary" (click)="openEventDialog()">Sự kiện</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id="calendar">
                            <full-calendar [options]="calendarOptions" #calendar></full-calendar>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->