.fc-scroller.fc-day-grid-container {
    overflow: auto !important;
    height: auto !important;
}

.external-event{
    cursor: pointer;
}

.card-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.col-5 {
    margin-left: 15px;
}