<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Đổi mật khẩu</h3>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="formSubmit$.next()">
        <div class="card-body">
            <div class="form-group">
                <label for="oldPassword">Mật khẩu cũ</label>
                <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
            </div>

            <div class="form-group">
                <label for="newPassword">Mật khẩu mới</label>
                <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
            </div>

            <div class="form-group">
                <label for="rePassword">Nhập lại mật khẩu</label>
                <input type="password" class="form-control" id="rePassword" formControlName="rePassword">
            </div>
        </div>
        <div class="card-footer d-flex">
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            <button class="btn btn-danger ml-auto" (click)="cancel()">Huỷ bỏ</button>
        </div>
    </form>
</div>