<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="assets/img/logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Staff Management</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <app-user-panel></app-user-panel>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a routerLink="" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Trang chủ
                            <span class="right badge badge-danger">!</span>
                        </p>
                    </a>
                </li>
                <div *ngIf="isAdmin()">
                    <li class="nav-header">QUẢN LÝ</li>
                    <li class="nav-item">
                        <a routerLink="dashboard" class="nav-link" routerLinkActive="active">
                          <i class="nav-icon fas fa-tachometer-alt"></i>
                          <p>
                            Dashboard
                          </p>
                        </a>
                    </li>
                    <li class="nav-item menu-open">
                        <a class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Nhân viên
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a routerLink="staffs/all" class="nav-link" routerLinkActive="active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Danh sách nhân viên</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="info" class="nav-link" routerLinkActive="active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Bảng lương</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="calendar/all" class="nav-link">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Quản lý lịch
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a routerLink="calendar/unconfirmed" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Lịch nghỉ nhân viên</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>DataTables</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>jsGrid</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
                <li class="nav-header">LÀM VIỆC</li>
                <li class="nav-item">
                    <a [routerLink]="['/staffs', authService.currentUser.id, 'calendar']" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Lịch
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>