<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lịch làm việc công ty</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="">Staff Management</a></li>
                    <li class="breadcrumb-item active">Quản lý lịch</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sticky-top mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Công cụ</h4>
                        </div>
                        <div class="card-body">
                            <!-- the events -->
                            <div>
                                <div class="external-event bg-success" data-color="#28a745" (click)="openCreateVacation()">Thêm ngày nghỉ lễ</div>
                                <div class="external-event bg-warning" data-color="#ffc107" (click)="openCreateEvent()">Thêm sự kiện chung</div>
                                <div class="external-event bg-danger" data-color="#dc3545">Xoá/chỉnh sửa sự kiện</div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id="calendar">
                            <full-calendar [options]="calendarOptions" #calendar></full-calendar>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->